<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>2008</key>
	<array>
		<string>http://static.businessinsider.com/image/528431706da811637fdfc6bf-1200/the-show-features-dozens-of-models-in-a-25-minute-time-span.jpg</string>
		<string>http://static.businessinsider.com/image/5284318069beddb757dda6f1-1200/this-outfit-from-the-birds-of-paradise-segment-was-artistic.jpg</string>
		<string>http://static.businessinsider.com/image/52844caf6da811894fdfc6be-1200/and-of-course-there-were-wings.jpg</string>
		<string>http://static.businessinsider.com/image/5284318aeab8ea8d71dda6f1-1200/wings-are-considered-a-status-symbol-for-the-models.jpg</string>
	</array>
	<key>2009</key>
	<array>
		<string>http://static.businessinsider.com/image/528432376bb3f7e50adda6f5-1200/these-wings-are-incredibly-intricate.jpg</string>
		<string>http://static.businessinsider.com/image/528431c369bedde657dda703-1200/the-midnight-in-paris-segment-had-a-dark-and-sultry-feel.jpg</string>
		<string>http://static.businessinsider.com/image/5284325969bedd5b5adda6fe-1200/this-model-had-an-unconventional-flower-child-wig-and-costume.jpg</string>
		<string>http://static.businessinsider.com/image/52843184ecad04e01adfc6be-1200/other-scenes-like-snow-angels-were-more-ethereal.jpg</string>
	</array>
	<key>2010</key>
	<array>
		<string>http://static.businessinsider.com/image/52844ccd69bedd0e15dda6f3-1200/heres-the-gorgeous-doutzen-kroes.jpg</string>
		<string>http://static.businessinsider.com/image/52844cdfeab8ea162bdda6f1-1200/the-victorias-secret-fashion-show-is-timed-around-the-holiday-season.jpg</string>
		<string>http://static.businessinsider.com/image/528431a769bedd7657dda6f1-1200/fans-were-overjoyed-when-taylor-swift-took-the-stage-in-a-sparkly-gown.jpg</string>
		<string>http://static.businessinsider.com/image/528431b96bb3f7c408dda6f1-1200/she-sang-in-front-of-this-cool-set-with-trees.jpg</string>
	</array>
	<key>2011</key>
	<array>
		<string>http://static.businessinsider.com/image/528431c9eab8eace6edda6f1-1200/adriana-limas-red-bird-costume-was-crazy.jpg</string>
		<string>http://static.businessinsider.com/image/528431c26da811c07fdfc6be-1200/doutzen-kroes-blows-a-signature-kiss-to-the-audience.jpg</string>
		<string>http://static.businessinsider.com/image/528431cf6bb3f7050bdda6f1-1200/the-segment-for-pink-victorias-secrets-teen-line-had-whimsical-decorations.jpg</string>
		<string>http://static.businessinsider.com/image/528431c2ecad04f41cdfc6c1-1200/these-models-were-also-more-covered-up-because-they-are-appealing-to-a-younger-audience.jpg</string>
	</array>
	<key>2012</key>
	<array>
		<string>http://static.businessinsider.com/image/528431d2ecad04041ddfc6c6-1200/this-model-had-a-light-up-accessory.jpg</string>
		<string>http://static.businessinsider.com/image/528431e6ecad04d81cdfc6c3-1200/this-model-had-a-huge-smiley-face-in-place-of-wings.jpg</string>
		<string>http://static.businessinsider.com/image/528431f76bb3f7c608dda6fb-1200/pink-also-includes-apparel-and-accessories-which-the-models-wore-in-the-show.jpg</string>
		<string>http://static.businessinsider.com/image/528431fc69bedd695adda6f1-1200/smiley-faces-were-a-common-theme-in-the-pink-show.jpg</string>
	</array>
	<key>2013</key>
	<array>
		<string>http://static.businessinsider.com/image/5284323beab8ea0374dda6f2-1200/many-of-the-costumes-lit-up.jpg</string>
		<string>http://static.businessinsider.com/image/528431db6bb3f70a0bdda6f1-1200/some-of-the-costumes-were-more-simplistic-like-this-one-from-the-shipwreck-segment.jpg</string>
		<string>http://static.businessinsider.com/image/528431dc6bb3f7ea0adda6f1-1200/alessandra-ambrosio-models-a-blue-costume.jpg</string>
		<string>http://static.businessinsider.com/image/52844d016bb3f76c40dda6f3-1200/the-models-come-from-all-over-the-world.jpg</string>
	</array>
</dict>
</plist>
