<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Adriana Lima</key>
	<dict>
		<key>Name</key>
		<string>Adriana Lima</string>
		<key>IconFileName</key>
		<string>2013_Adriana_Lima</string>
		<key>AvaFileUrl</key>
		<string>http://static.ngankeo.vn/full/2013/11/16/nhung-guong-mat-thien-than-khong-the-thieu-cua-victorias-secret-1030210440a938be3ff849c87dc42a510dd467a6.jpg</string>
		<key>ImgInfo</key>
		<string>Adriana_Lima_info</string>
		<key>VideoUrl</key>
		<string>http://www.youtube.com/embed/7oT96wTfmaE</string>
		<key>ImagesDetail</key>
		<array>
			<string>http://cdn01.cdn.justjared.com/wp-content/uploads/2012/11/adriana-vsshow/adriana-lima-alessandra-ambrosio-victorias-secret-fashion-show-2012-02.jpg</string>
			<string>http://fittipdaily.com/wp-content/uploads/2012/01/adriana-lima-2.jpg</string>
			<string>http://cdn.stylefrizz.com/img/adriana-lima-victorias-secret-fashion-show-2010.jpg</string>
		</array>
	</dict>
	<key>Alessandra Ambrosio</key>
	<dict>
		<key>Name</key>
		<string>Alessandra Ambrosio</string>
		<key>IconFileName</key>
		<string>2013_Alessandra_Ambrosio</string>
		<key>AvaFileUrl</key>
		<string>http://static.ngankeo.vn/full/2013/11/16/nhung-guong-mat-thien-than-khong-the-thieu-cua-victorias-secret-6796056b81639be533a86a27cd2b56d700dc1083.jpg</string>
		<key>ImgInfo</key>
		<string>Alessandra_Ambrosio_info</string>
		<key>VideoUrl</key>
		<string>http://www.youtube.com/embed/StkbklXVx-g</string>
		<key>ImagesDetail</key>
		<array>
			<string>http://assets-s3.usmagazine.com/uploads/assets/articles/57492-picture-alessandra-ambrosio-models-25-million-bra-at-victorias-secret-fashion-sh/1352388690_alessandra-ambrosio-bra-467.jpg</string>
			<string>http://i212.photobucket.com/albums/cc298/jundelmer/Hot%20Gallery/a8d4scd.jpg</string>
			<string>http://www.modelinia.com/_content/slideshows/1044/images/2007.Alessandra.Ambrosio.BIG.jpg</string>
		</array>
	</dict>
	<key>Karlie Kloss</key>
	<dict>
		<key>Name</key>
		<string>Karlie Kloss</string>
		<key>IconFileName</key>
		<string>2008_lily</string>
		<key>AvaFileUrl</key>
		<string>http://static.ngankeo.vn/full/2013/11/16/nhung-guong-mat-thien-than-khong-the-thieu-cua-victorias-secret-b5641a785362148523ec35ac12b93cdf0c9be46e.jpg</string>
		<key>ImgInfo</key>
		<string>Karlie_Kloss_info</string>
		<key>VideoUrl</key>
		<string>http://www.youtube.com/embed/mph0jGGcZkU</string>
		<key>ImagesDetail</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
		</array>
	</dict>
</dict>
</plist>
